- provide(:title, 'About')
.row.maincontent
  .twelve.columns
    .page_title
      .row
        .twelve.columns
          %h1
            Who we are
            %small - take a look
  .twelve.columns
    .row.services
      .eight.columns
        %h3 Meet the team
        .row.team
          .four.columns
            .member-info
              .img_default= image_tag("team/1.jpg", :alt => "Edit Entry")
              %h2.member-name Lance Dorgan
              %p.member-possition Founder / Partner
              %p.member-description Nunc laoreet adipiscing leo, eu scelerisque ipsum suscipit a. In vehicula urna vitae orci rutrum non tincidunt urna ultricies. Donec cursus tristique urna, et nisi consectetur.
              %ul.member-social
                %li
                  %a{:href => "https://twitter.com/"}
                    %i.icon-twitter.icon20
                %li
                  %a{:href => "http://www.facebook.com/"}
                    %i.icon-facebook.icon20
                %li
                  %a{:href => "http://www.linkedin.com/"}
                    %i.icon-linkedin.icon20
          .four.columns
            .member-info
              .img_default= image_tag("team/2.jpg", :alt => "Jane Doe")
              %h2.member-name Jane Doe
              %p.member-possition Creative Director
              %p.member-description Donec cursus tristique urna, et molestie nisi consectetur quis. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.
              %ul.member-social
                %li
                  %a{:href => "https://twitter.com/"}
                    %i.icon-twitter.icon20
                %li
                  %a{:href => "http://www.facebook.com/"}
                    %i.icon-facebook.icon20
                %li
                  %a{:href => "http://www.linkedin.com/"}
                    %i.icon-linkedin.icon20
          .four.columns
            .member-info
              .img_default= image_tag("team/3.jpg", :alt => "Pamela")
              %h2.member-name Pamela Wehinger
              %p.member-possition Project Manager
              %p.member-description Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum.
              %ul.member-social
                %li
                  %a{:href => "https://twitter.com/"}
                    %i.icon-twitter.icon20
                %li
                  %a{:href => "http://www.facebook.com/"}
                    %i.icon-facebook.icon20
                %li
                  %a{:href => "http://www.linkedin.com/"}
                    %i.icon-linkedin.icon20
      .four.columns.progress-bar
        %h3 Providing skills
        %p We provide skills in differite fields. Amet ornare eu, feugiat et erat. Nunc laoreet adipiscing leo, eu scelerisque ipsum suscipit.
        %p.bottom0
          Web design
          %span 80%
        .nice.primary.progress
          %span.meter.progress80
        %p.bottom0
          Jquery
          %span 90%
        .nice.primary.progress
          %span.meter.progress90
        %p.bottom0
          Wordpress
          %span 100%
        .nice.primary.progress
          %span.meter.progress100
        %p.bottom0
          PHP
          %span 70%
        .nice.primary.progress
          %span.meter.progress70
        %p.bottom0
          Photoshop
          %span 90%
        .nice.primary.progress
          %span.meter.progress90
        %p.bottom0
          Print
          %span 40%
        .nice.primary.progress
          %span.meter.progress40
  .twelve.columns
    %hr/
  .twelve.columns.text-center
    %h2
      We deliver precise strategic thinking and
      %a{:href => "#"} marketing direction
      that can turn your concept from vision to reality. The main core of our strategy is achieving targeted and measurable results.
      %a{:href => "#"} We can help you
      plan all your marketing efforts!
  .twelve.columns
    %hr/
  .twelve.columns
    .row
      .four.columns.bottom20
        %h4
          %i.icon-heart.icon20>
          Our Challenge
        %p Etiam neque turpis, scelerisque sit amet ornare eu, feugiat et erat. Nunc laoreet adipiscing leo, eu scelerisque ipsum suscipit a. In vehicula urna vitae orci rutrum non tincidunt urna ultricies. Donec cursus tristique urna, et molestie nisi consectetur quis. Maecenas sed justo varius velit imperdiet bibendum.
        %p Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .four.columns.bottom20
        %h4
          %i.icon-dashboard.icon20>
          We are driven
        %p In vehicula urna vitae orci rutrum non ornare eu, feugiat et erat. Nunc laoreet adipiscing leo, eu scelerisque ipsum suscipit a. In vehicula urna vitae orci rutrum non tincidunt urna ultricies.
        %blockquote
          Donec cursus tristique urna, et molestie nisi consectetur quis. Maecenas sed justo varius velit imperdiet bibendum.
          %cite Isaac Asimov
      .four.columns.bottom20
        %h4
          %i.icon-gift.icon20>
          How we deliver
        %p Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %ul.circle
          %li In vehicula urna vitae orci
          %li Aliquam erat volutpat
          %li Donec cursus tristique
          %li Aliquam erat volutpat
          %li Donec cursus tristique
