- provide(:title, 'Construction')
.row.maincontent
  .twelve.columns.construction
    .row
      .eight.columns.centered
        %h4.construction_description.text-center Thanks for stopping by. We are working hard on creating a new site featuring an extended portfolio, list of services, design templates and more. Keep up to date by joining my mailing list or follow us on our social networking sites.
        .nice.primary.progress
          %h4.text-right
            %span.icon-cogs.icon60 60%
          %span.meter.progress60
    #clock
      .row
        .one.columns
        .two.mobile-two.columns
          %p
            %span#weeks
            Weeks
        .two.mobile-two.columns
          %p
            %span#daysLeft
            Days
        .two.mobile-two.columns
          %p
            %span#hours
            Hours
        .two.mobile-two.columns
          %p
            %span#minutes
            Minutes
        .two.mobile-four.columns
          %p
            %span#seconds
            Seconds
        .one.columns