<% provide(:title, 'Construction') %>
<div class="row maincontent">
<div class="twelve columns construction">

  <div class="row">

    <div class="eight columns centered ">

      <h4 class="construction_description text-center">Thanks for stopping by. We are working hard on creating a new site featuring an extended portfolio, list of services, design templates and more. Keep up to date by joining my mailing list or follow us on our social networking sites.</h4>

      <div class="nice primary progress">

        <h4 class="text-center"><span class="icon-cogs icon30">35%</span></h4>
        <span class="meter progress10"></span>

      </div>

    </div>

  </div>


  <div id="clock">

    <div class="row">


      <div class="one columns"></div>

      <div class="two mobile-two columns">
        <p>
          <span id="weeks"></span>
          Weeks
        </p>
      </div>

      <div class="two mobile-two columns">
        <p>
          <span id="daysLeft"></span>
          Days
        </p>
      </div>

      <div class="two mobile-two columns">
        <p>
          <span id="hours"></span>
          Hours
        </p>
      </div>

      <div class="two mobile-two columns">
        <p>
          <span id="minutes"></span>
          Minutes
        </p>
      </div>

      <div class="two mobile-four columns">
        <p>
          <span id="seconds"></span>
          Seconds
        </p>
      </div>

      <div class="one columns"></div>

    </div>

  </div>

</div>
</div>

<!-- Countdown -->
<%= javascript_include_tag "jquery.countdown" %>
 
<script type="text/javascript">
    $(function() {
        $('div#clock').countdown("2013/10/24", function(event) {
            var $this = $(this);
            switch(event.type) {
                case "seconds":
                case "minutes":
                case "hours":
                case "days":
                case "weeks":
                case "daysLeft":
                    $this.find('span#'+event.type).html(event.value);
                    break;
                case "finished":
                    $this.hide();
                    break;
            }
        });
    });
</script>