- provide(:title, 'Contact')
.row.maincontent
  .twelve.columns
    .page_title
      .row
        .twelve.columns
          %h1
            Thank you!
          %p
            Your inquiry has been sent and we'll be in touch as soon as possible.