$("#newsletter").fadeToggle( 700, function() {
    $("#newsletter").html( "<h2>Thanks for signing up to our newsletter</h2><p>You will be keeping up-to-date with the latest news and updates now with our newsletter.</p>" );
  	
  })

$("#newsletter").next().fadeToggle( 700, function() {
    $("#newsletter").next().remove();
  })

$("#newsletter").fadeToggle( 2100, function() {
    // Animation complete
  });