<!-- Footer -->
<div class="row footer">

  <!-- // // // // // // // // // // -->

  <div class="four columns">

    <h4>About Us</h4>
    <p>We say what we do, we do what we say, and we're looking forward to prove it to you.</p>
    <ul class="vcard">
      <li class="address">Omaha, NE. USA</li>
      <li class="tel"><a href="https://github.com/innovateomaha">github.com/innovateomaha</a></li>
      <li class="email"><a href="innovateomaha@gmail.com">innovateomaha@gmail.com</a></li>
    </ul>

  </div>

  <!-- // // // // // // // // // // -->

  <div class="four columns">

    <h4>Latest Posts</h4>

    <ul class="footer-list">
      <li><a href="#">Mauris pellentesque laoreet lacus non condimentum.</a></li>
      <li><a href="#">Vestibulum vel diam orci vitae.</a></li>
      <li><a href="#">Suspendisse elementum magna sed lorem faucibus eleifend.</a></li>
      <li><a href="#">Phasellus placerat convallis congue.</a></li>
      <li><a href="#">Etiam vehicula lacus fringilla lacus tristique pretium.</a></li>
    </ul>

  </div>

  <!-- // // // // // // // // // // -->

  <div class="four columns">

    <h4>Latest Tweets</h4>

    <div id="tweetFeed"> </div>

  </div>

  <!-- // // // // // // // // // // -->

</div>
<!-- End Footer -->