<!-- // // // // // // // // // // -->
<% @user = "User" %>
<div class="eight columns">

  <h2>Sign up for our newsletter</h2>
  <p>Keep up-to-date with the latest news and updates by subscribing to our newsletter.</p>

</div>

<!-- // // // // // // // // // // -->

<div class="four columns">
  <%= form_for @user, url: '/users/newsletter', remote: true do |f| %>  
  <div class="row collapse newsletter-input">
    <div class="eight mobile-three columns">
      <%= f.text_field :user, placeholder:'Enter your email address' %>
    </div>
    <div class="four mobile-one columns">
      <%= f.submit "Subscribe", class:"button expand" %>
    </div>
  </div>

<% end %>
</div>

<!-- // // // // // // // // // // -->