<!-- // // // // // // // // // // -->
<% @user = "User" %>
<div class="eight columns">

  <h2>Sign up for our newsletter</h2>
  <p>Keep up-to-date with the latest news and updates by subscribing to our newsletter.</p>

</div>

<!-- // // // // // // // // // // -->

<div class="four columns">

  <%= form_tag(:users_newsletter, method:'get', remote: true) do -%>
  <div class="row collapse newsletter-input">
    <div class="eight mobile-three columns">
      <%= text_field :users_newsletter, :title, :size => 20 %>
    </div>
    <div class="four mobile-one columns">
      <%= submit_tag "Subscribe", class:"button expand" %>
    </div>
  </div>
<% end %>
</div>

<!-- // // // // // // // // // // -->