<!-- // // // // // // // // // // -->

<div class="eight columns">

  <h2>Sign up for our newsletter</h2>
  <p>Keep up-to-date with the latest news and updates by subscribing to our newsletter.</p>

</div>

<!-- // // // // // // // // // // -->

<div class="four columns">
  <div class="row collapse newsletter-input">
    <div class="eight mobile-three columns">
      <input type="text" placeholder="Enter your email address" />
    </div>
    <div class="four mobile-one columns">
      <a href="#" class="button expand">Subscribe</a>
    </div>
  </div>
</div>

<!-- // // // // // // // // // // -->