/ Region 3 Wrap
.container.region3wrap
  / Content Top
  .row.content_top
    .nine.columns
      = render :partial => 'shared/breadcrumbs'
    .three.columns
      .row
        .twelve.columns
          = render :partial => 'shared/search'
  / End Content Top
/ End Region 3 Wrap