/ Region 3 Wrap
.container.region3wrap
  - if defined? @home_page
    / Main Slider
    .mainslider-container.responsive
      .mainslider
        %ul
          / SLIDE DOWN
          %li{"data-masterspeed" => "300", "data-slotamount" => "1", "data-thumb" => "/assets/sliders/sliderrevolution/thumbs/thumb1.jpg", "data-transition" => "slotfade-horizontal"}
            %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image1.jpg"}/
            .caption.lfr{"data-easing" => "easeOutExpo", "data-speed" => "700", "data-start" => "800", "data-x" => "560", "data-y" => "20"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image-ipad.png"}/
            .caption.lfr{"data-easing" => "easeOutExpo", "data-speed" => "700", "data-start" => "1000", "data-x" => "500", "data-y" => "20"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image-iphone.png"}/
            .caption.lfl.big_white{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1200", "data-x" => "100", "data-y" => "130"} Amazing Touch Experience
            .caption.lfl.big_color{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1300", "data-x" => "100", "data-y" => "167"} Fully Responsive
            .caption.lfl.medium_grey{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1400", "data-x" => "100", "data-y" => "222"}
              Inventore veritatis et quasi architecto
              = succeed "beatae" do
                %br/
              dicta sed ut perspiciatis unde omnis
              %br/
              iste natus laudantium.
            .caption.lfb{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1500", "data-x" => "100", "data-y" => "300"}
              %a.button{:href => "#"} Experience Now
          / BOXFADE
          %li{"data-masterspeed" => "300", "data-slotamount" => "5", "data-thumb" => "/assets/sliders/sliderrevolution/thumbs/thumb2.jpg", "data-transition" => "boxfade"}
            %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image2.jpg"}/
            .caption.lfb.big_white{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1700", "data-x" => "400", "data-y" => "80"} Speed and Precision
            .caption.lft.big_color{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1900", "data-x" => "400", "data-y" => "117"}
              %em HTML5 &amp; CSS3
            .caption.lfr.medium_grey{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "2500", "data-x" => "400", "data-y" => "165"}
              Accusantium et doloremque veritatis
              %br/
              architecto eaque ipsa quae ab illo
              %br/
              inventore veritatis perspiciatis.
            .caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "3500", "data-x" => "550", "data-y" => "240"}
              %a.button{:href => "#"} Wanna Test Drive?
          / CURTAIN 3
          %li{"data-masterspeed" => "300", "data-slotamount" => "20", "data-thumb" => "/assets/sliders/sliderrevolution/thumbs/thumb3.jpg", "data-transition" => "curtain-3"}
            %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image3.jpg"}/
            .caption.lfb{"data-easing" => "easeOutExpo", "data-speed" => "900", "data-start" => "700", "data-x" => "360", "data-y" => "235"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/hand.png"}/
            .caption.sft.big_color{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1200", "data-x" => "460", "data-y" => "120"} Easy and Fast Customization
            .caption.sft.medium_text.black{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1300", "data-x" => "544", "data-y" => "170"} Buy TouchM on ThemeForest!
          / SLIDE LEFT
          %li{"data-link" => "http://www.google.de", "data-masterspeed" => "300", "data-slotamount" => "10", "data-thumb" => "/assets/sliders/sliderrevolution/thumbs/thumb4.jpg", "data-transition" => "slotslide-horizontal"}
            %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/slide_image4.jpg"}/
            .caption.lft.big_white{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1200", "data-x" => "400", "data-y" => "120"} Modern Premium Theme
            .caption.lfb{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "1700", "data-x" => "380", "data-y" => "180"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/icon1.png"}/
            .caption.lfb{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "2000", "data-x" => "540", "data-y" => "180"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/icon2.png"}/
            .caption.lfb{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "2300", "data-x" => "690", "data-y" => "180"}
              %img{:alt => "", :src => "/assets/sliders/sliderrevolution/slides/icon3.png"}/
            .caption.lfr.medium_grey{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "2600", "data-x" => "400", "data-y" => "330"} Wanna learn more?
            .caption.lfr.medium_text{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "2800", "data-x" => "595", "data-y" => "332"}
              %a{:href => "#"} Get in Touch
        .tp-bannertimer
    / End Main Slider
  / Content Top
  .row.content_top
    - if defined? @home_page
      .twelve.columns
        %h2 We create custom-built, marketing-driven website solutions and online environments that ensure your brand delivers on form and functionality.
    - elsif defined? @construction_page
      .eight.columns.centered
        %h1.construction_title Our Website is Under Construction
    - else
      .nine.columns
        = render :partial => 'shared/breadcrumbs'
      .three.columns
        .row
          .twelve.columns
            = render :partial => 'shared/search'
  / End Content Top
/ End Region 3 Wrap