/ Region 3 Wrap
.container.region3wrap
  / Content Top
  .row.content_top
    .eight.columns.centered
      %h1.construction_title Our Website is Under Construction
  / End Content Top
/ End Region 3 Wrap