/ Region 10 Wrap
.container.region10wrap
  .row.footer_bottom
    / Bottom
    / // // // // // // // // // //
    .six.columns
      %p.copyright © 2012 TouchM by 4GraFx. All rights reserved
    / // // // // // // // // // //
    .six.columns
    / // // // // // // // // // //
    / Bottom
/ End Region 10 Wrap
