<!-- Region 9 Wrap -->

<div class="container region9wrap">

  <!-- Bottom Content -->
  <div class="row content_bottom">

    <%= render "shared/newsletter" %>

  </div>
  <!-- End Bottom Content -->

  <%= render "shared/footer" %>

</div>

<!-- End Region 9 Wrap -->