<!-- Region 2 Wrap -->

<div class="container region2wrap">
  
	<div class="row">
    
    	<!-- Logo -->
            
    	<div class="three columns">

        	<a href="index.html" id="logo"><h1>Innovate<span>Omaha</span></h1></a>
        
  		</div>
        
        <!-- End Logo -->
        
        <% if !defined? @construction_page %>
 
        <!-- Main Navigation -->
        
        <div class="nine columns">

			<nav class="top-bar">
        
    			<ul>
      				<!-- Toggle Button Mobile -->
      				<li class="name">
        			<h1><a href="#"> Please select your page</a></h1>
      				</li>
      				<li class="toggle-topbar"><a href="#"></a></li>
                    <!-- End Toggle Button Mobile -->
    			</ul>



      			<section><!-- Nav Section -->
      			<ul class="right">
        
        			<li class="has-dropdown">
          				<a href="index.html">Home</a>
          				<ul class="dropdown">
            				<li><a href="index.html">Home Page - Default</a></li>
            				<li><a href="index-type1.html">Home Page Type 1</a></li>
                            <li><a href="index-type2.html">Home Page Type 2</a></li>
                            <li class="has-dropdown"><a href="#">TouchM Sliders</a>
                            	<ul class="dropdown">
            						<li><a href="index.html">Slider Revolution</a></li>
            						<li><a href="index-flexi.html">Flexislider</a></li>
                                    <li><a href="index-camera.html">Camera Slider</a></li>
                                </ul>
                            </li>
          				</ul>
        			</li>
        
        			<li class="has-dropdown">
        				<a  class="active" href="#">Features</a>
            			<ul class="dropdown">
            				<li><a href="about.html">About Us</a></li>
            				<li><a href="services.html">Services</a></li>
            				<li><a href="pricing.html">Pricing Tables</a></li>
            				<li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="register.html">Registration</a></li>
            				<li><a href="notfound.html">404 Not Found</a></li>
            				<li><a href="under-construction.html">Under Construction</a></li>
            				<li class="has-dropdown"><a href="#">Third Navigation Level</a>
            					<ul class="dropdown">
            						<li><a href="#">This is a simple example</a></li>
            						<li><a href="#">Of the Third Level</a></li>
               					</ul>
            				</li>
            			</ul>       
        			</li>
        
        			<li class="has-dropdown">
          				<a href="#">Blog</a>
          					<ul class="dropdown">
                            	<li><a href="blog_sidebar_right.html">Blog Default</a></li>
                            	<li><a href="blog_type1.html">Blog Type 1</a></li>
                                <li><a href="blog_type2.html">Blog Type 2</a></li>         
            					<li><a href="blog_sidebar_right.html">Sidebar Right</a></li>
            					<li><a href="blog_sidebar_left.html">Sidebar Left</a></li>
            					<li><a href="blog_inner.html">Single Post</a></li>
          					</ul>
        			</li>
        
        			<li class="has-dropdown">
          				<a href="#">Portfolio</a>
          					<ul class="dropdown">             
            					<li><a href="portfolio_default.html">Portfolio Default (4 Columns)</a></li>         
            					<li><a href="portfolio_type1.html" class="">Portfolio 2 Columns</a></li>
            					<li><a href="portfolio_type2.html">Portfolio 3 Columns</a></li> 
                                <li><a href="portfolio_default.html">Portfolio 4 Columns</a></li>
                                <li><a href="portfolio_sidebar.html">Portfolio Sidebar</a></li>                                           
            					<li><a href="single-project.html">Single Project</a></li>
          					</ul>
        			</li>
        
        			<li><a href="contact.html">Contact</a></li>
        
      			</ul>
                </section><!-- End Nav Section -->

  			</nav>            
        
    	</div>
        
        <!-- End Main Navigation -->         
        <% end %>
	</div>
    
</div>
  
<!-- End Region 2 Wrap -->