<!-- Region 2 Wrap -->

<div class="container region2wrap">

  <div class="row">

    <!-- Logo -->

    <div class="three columns">

      <a href="index.html" id="logo"><h1>Innovate<span>Omaha</span></h1></a>

    </div>

    <!-- End Logo -->



  </div>

</div>

<!-- End Region 2 Wrap -->