<!-- Region 3 Wrap -->

  <div class="container region3wrap">  
  
  	<!-- Main Slider -->  
			<div class="mainslider-container responsive" >
					<div class="mainslider" >
						<ul>


							<!-- SLIDE DOWN -->
							<li data-transition="slotfade-horizontal" data-slotamount="1" data-masterspeed="300"  data-thumb="/assets/sliders/sliderrevolution/thumbs/thumb1.jpg">
								<img src="/assets/sliders/sliderrevolution/slides/slide_image1.jpg"  alt="">
                                <div class="caption lfr" data-x="560" data-y="20" data-speed="700" data-start="800" data-easing="easeOutExpo"><img src="/assets/sliders/sliderrevolution/slides/slide_image-ipad.png" alt=""></div>
                                <div class="caption lfr" data-x="500" data-y="20" data-speed="700" data-start="1000" data-easing="easeOutExpo"><img src="/assets/sliders/sliderrevolution/slides/slide_image-iphone.png" alt=""></div>
                                <div class="caption lfl big_white"  data-x="100" data-y="130" data-speed="300" data-start="1200" data-easing="easeOutExpo">Amazing Touch Experience</div>
                                <div class="caption lfl big_color"  data-x="100" data-y="167" data-speed="300" data-start="1300" data-easing="easeOutExpo">Fully Responsive</div>
                                <div class="caption lfl medium_grey"  data-x="100" data-y="222" data-speed="300" data-start="1400" data-easing="easeOutExpo">Inventore veritatis et quasi architecto <br/>beatae dicta sed ut perspiciatis unde omnis<br/> iste natus laudantium.</div>
                                <div class="caption lfb"  data-x="100" data-y="300" data-speed="300" data-start="1500" data-easing="easeOutExpo"><a href="#" class="button">Experience Now</a></div>
							</li>

							<!-- BOXFADE -->
							<li data-transition="boxfade" data-slotamount="5"  data-masterspeed="300" data-thumb="/assets/sliders/sliderrevolution/thumbs/thumb2.jpg" >
								<img src="/assets/sliders/sliderrevolution/slides/slide_image2.jpg" alt="">
								<div class="caption lfb big_white"  data-x="400" data-y="80" data-speed="900" data-start="1700" data-easing="easeOutBack">Speed and Precision</div>
								<div class="caption lft big_color"  data-x="400" data-y="117" data-speed="900" data-start="1900" data-easing="easeOutBack"><em>HTML5 &amp; CSS3</em></div>
								<div class="caption lfr medium_grey"  data-x="400" data-y="165" data-speed="300" data-start="2500" data-easing="easeOutExpo">Accusantium et doloremque veritatis<br/> architecto eaque ipsa quae ab illo<br/> inventore veritatis perspiciatis.</div>                               
								<div class="caption sfb" data-x="550" data-y="240" data-speed="1000" data-start="3500" data-easing="easeOutBack"><a href="#" class="button">Wanna Test Drive?</a></div>
							</li>                            

							<!-- CURTAIN 3 -->
							<li data-transition="curtain-3" data-slotamount="20"  data-masterspeed="300" data-thumb="/assets/sliders/sliderrevolution/thumbs/thumb3.jpg">
								<img src="/assets/sliders/sliderrevolution/slides/slide_image3.jpg" alt="" >
                                 <div class="caption lfb" data-x="360" data-y="235" data-speed="900" data-start="700" data-easing="easeOutExpo"><img src="/assets/sliders/sliderrevolution/slides/hand.png" alt=""></div>
                                <div class="caption sft big_color"  data-x="460" data-y="120" data-speed="900" data-start="1200" data-easing="easeOutBack">Easy and Fast Customization</div>
                                <div class="caption sft medium_text black"  data-x="544" data-y="170" data-speed="900" data-start="1300" data-easing="easeOutBack">Buy TouchM on ThemeForest!</div>
							</li>
                            
                            <!-- SLIDE LEFT -->
							<li data-transition="slotslide-horizontal" data-slotamount="10"  data-masterspeed="300"  data-link="http://www.google.de" data-thumb="/assets/sliders/sliderrevolution/thumbs/thumb4.jpg">
								<img src="/assets/sliders/sliderrevolution/slides/slide_image4.jpg" alt=""  >
                                <div class="caption lft big_white"  data-x="400" data-y="120" data-speed="900" data-start="1200" data-easing="easeOutBack">Modern Premium Theme</div>
                                <div class="caption lfb" data-x="380" data-y="180" data-speed="900" data-start="1700" data-easing="easeOutBack"><img src="/assets/sliders/sliderrevolution/slides/icon1.png" alt=""></div>
                                <div class="caption lfb" data-x="540" data-y="180" data-speed="900" data-start="2000" data-easing="easeOutBack"><img src="/assets/sliders/sliderrevolution/slides/icon2.png" alt=""></div>
                                <div class="caption lfb" data-x="690" data-y="180" data-speed="900" data-start="2300" data-easing="easeOutBack"><img src="/assets/sliders/sliderrevolution/slides/icon3.png" alt=""></div>
                                <div class="caption lfr medium_grey"  data-x="400" data-y="330" data-speed="300" data-start="2600" data-easing="easeOutExpo">Wanna learn more?</div>
                                <div class="caption lfr medium_text"  data-x="595" data-y="332" data-speed="300" data-start="2800" data-easing="easeOutExpo"><a href="#">Get in Touch</a></div>
							</li>                            
                            

						</ul>
						<div class="tp-bannertimer"></div>
					</div>
				</div>
  
    <!-- End Main Slider -->
    
    <!-- Content Top -->  
  	<div class="row content_top">
       
        
        
    	<div class="twelve columns">
       
			<h2>We create custom-built, marketing-driven website solutions and online environments that ensure your brand delivers on form and functionality.</h2>

		</div>
        
        
        
  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->