<!-- Region 3 Wrap -->

  <div class="container region3wrap">  
  <!-- Content Top -->  
      <div class="row content_top">
     <% if defined? @construction_page %>

     <div class="eight columns centered">
       
      <h1 class="construction_title">Our Website is Under Construction</h1>
     </div>
     <% else %>

        <div class="nine columns">
         
         <%= render :partial => 'shared/breadcrumbs' %>

        </div>
          
          <div class="three columns">

            <div class="row">
              <div class="twelve columns">
                  <%= render :partial => 'shared/search' %>
                </div>
            </div>

          </div>
      
     <% end %>
        </div>
    <!-- End Content Top -->
  	
    
  </div>
  
<!-- End Region 3 Wrap -->