<!-- Region 10 Wrap -->

<div class="container region10wrap">

  <div class="row footer_bottom">

    <!-- Bottom -->

    <!-- // // // // // // // // // // -->

    <div class="six columns">

      <p class="copyright">© 2012 TouchM by 4GraFx. All rights reserved</p>

    </div>

    <!-- // // // // // // // // // // -->

    <div class="six columns">

      <ul class="link-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Porfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>

    <!-- // // // // // // // // // // -->

    <!-- Bottom -->

  </div>
</div>

<!-- End Region 10 Wrap -->