<div class="row collapse top_search">
  <div class="ten mobile-three columns">
    <input type="text" placeholder="Enter search terms" />
  </div>
  <div class="two mobile-one columns">
    <a href="#" class="button icon-search"></a>
  </div>
</div>