<div class="row maincontent">
    
      <div class="twelve columns">
          
          <div class="page_title">
            <div class="row">
              <div class="twelve columns">
                <h1>Welcome to our blog</h1>
              </div>
            </div>
          </div>
        
        </div>
    
      <!-- Blog Content -->      
    <div class="eight columns">
        
      


              <%= render @posts %>

         
            

              <!-- Pagination -->
            
            <div class="row">
            
              <div class="twelve columns">
              <% if @page %>
              	<%= render partial: "pagination" %>
              <% end %>
              </div>
            
            </div>
            
            <!-- End Pagination -->
      </div>          
   
        <!-- End Blog Content -->

          <!-- Sidebar Left -->
        <div class="four columns sidebar-right">
          
          
            <!-- Sidebar Widget -->
            <div class="sidebar-widget">            
              
                <h3>Popular Articles</h3>
                                        
            <ul class="sidebar-list">
              <li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Erat nisl faucibus justo verit et quasi architecto beatae.</a></li>
              <li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Ut semper porttitor ipsum, et cursus erat volutpat vitae.</a></li>
              <li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Mauris porttitor nisi sit amet felis porta congue. </a></li>
              <li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Quisque ac felis felis, ornare sem. Proin ut nisi tortor. </a></li>
              <li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Erat nisl faucibus justo verit et quasi architecto beatae.</a></li>
            </ul>
                
            </div>
            <!-- End Sidebar Widget -->
            
            <!-- Sidebar Widget -->
            <div class="sidebar-widget">            
              
                <h3>Text Widget</h3>
                                        
            <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <a href="#" class="button expand"><i class="icon-question-sign"></i>Need More Info?</a>
                
            </div>
            <!-- End Sidebar Widget -->


            <%= render 'layouts/monologue/application/sidebar' %>         
        
      </div>
        <!-- End Sidebar Left -->

</div>