<%  provide(:title, 'Blog')  %>
<%  add_crumb 'Blog' %>

<div class="row maincontent">
  
  <div class="twelve columns">
    
    <div class="page_title">
      <div class="row">
        <div class="twelve columns">
          <h1>
            Welcome to our blog
          </h1>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- Blog Content -->
  
  <div class="eight columns">
    
    <%= render @posts %>
      
      <!-- Pagination -->
      
      <div class="row">
        
        <div class="twelve columns">
          <% if @page %>
            <%= render partial: "pagination" %>
              <% end %>
        </div>
        
      </div>
                
  <!-- End Pagination -->
  </div>
            
  <!-- End Blog Content -->

  <!-- Sidebar Left -->
  <div class="four columns sidebar-right">
    
    <%= render 'layouts/monologue/application/sidebar' %>
    
  </div>
  <!-- End Sidebar Left -->
  
</div>