- add_crumb "404"
- provide(:title, '404')
.row.maincontent
  .twelve.columns
    .row
      .eight.columns.centered
        %h1.notfound_title 404
        %h2.notfound_subtitle Oops...are you lost?
  .twelve.columns
    .row
      .six.columns.centered
        %p.notfound_description The page you are looking for seems to be missing.Go back, or return to yourcompany.com to choose a new direction.Please report any broken links to our team.
  .twelve.columns
    .row
      .four.columns.centered
        %a.button.expand.bottom20{href: "javascript: history.go(-1)"}
          %i.icon-undo>
          Return to previous page