<% provide(:title, '500') %>

<div class="row maincontent"> 
  <div class="twelve columns">
        
          <div class="row">
            <div class="eight columns centered">
          <h1 class="notfound_title">500</h1>
              <h2 class="notfound_subtitle">Oops...are you lost?</h2>            
            </div>
          </div>
            
  </div>
        
  <div class="twelve columns">
        
    <div class="row">
            
       <div class="six columns centered">
         <p class="notfound_description">The page you are looking for seems to be missing.Go back, or return to yourcompany.com to choose a new direction.Please report any broken links to our team.</p>
        </div>   
                
     </div>
            
  </div>
        
  <div class="twelve columns">
        
    <div class="row">
            
      <div class="four columns centered">
        <a class="button expand bottom20" href="javascript: history.go(-1)"><i class="icon-undo"></i>Return to previous page</a>
      </div> 
                
    </div>
            
  </div>
</div>